.global-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-month {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: fit-content;
  height: 100%;
}

.day {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}

.day-name {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.week {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.critical {
  background-color: #c05c5c;
}

.moderate {
  background-color: #c09a5c;
}

.normal {
  background-color: #5cc05c;
}
