.global-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.average {
  height: 15rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  border: 1px solid gray;
  grid-area: average;
}

.container-month {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: fit-content;
  height: 100%;
  grid-area: monthGrid;
}

.day {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  color: gray;
}

.day-name {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.week {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.critical {
  background-color: #c05c5c;
  color: white;
}

.moderate {
  background-color: #c09a5c;
  color: white;
}

.normal {
  background-color: #5cc05c;
  color: white;
}
.month-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  justify-self: center;
  align-self: center;
  width: 100%;
}

.gloabl-container-month {
  display: grid;
  grid-template-areas:
    "monthName monthName monthName"
    "monthGrid monthGrid average"
    "monthGrid monthGrid average";
  gap: 1rem;
}
