:root {
  --critical-color: #c05c5c;
  --moderate-color: #c09a5c;
  --normal-color: #5cc05c;
}
.global-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  margin: auto;
  gap: 2rem;
  position: relative;
}

.average {
  height: 12rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  border: 1px solid gray;
  grid-area: average;
  justify-self: center;
  align-self: center;
}

.container-month {
  display: grid;
  grid-template-columns: repeat(8, 1.75rem);
  grid-template-rows: repeat(6, 1.75rem);
  width: fit-content;
  height: 100%;
  grid-area: monthGrid;
}

.day {
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid gray;
  color: gray;
  /* aspect-ratio: 1/1; */
}

.day-name {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
}

.week {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
}

.critical {
  background-color: var(--critical-color);
  color: white;
}

.moderate {
  background-color: var(--moderate-color);
  color: white;
}

.normal {
  background-color: var(--normal-color);
  color: white;
}

.month-name {
  display: flex;
  justify-content: center;
  align-items: end;
  text-transform: capitalize;
  justify-self: center;
  align-self: center;
  width: 100%;
  margin: 0;
  grid-area: monthName;
}

.global-container-month {
  display: grid;
  grid-template-areas:
    "monthName monthName monthName"
    "monthGrid monthGrid average"
    "monthGrid monthGrid average";
  gap: 0 1rem;
}

.tooltip-chm {
  position: absolute;
  /* display: none; */
  background-color: gray;
  border: 1px solid grey;
  padding: 0.5rem;
  z-index: 99999;
}